<?php

return [
    'listen' => '127.0.0.1:7007',
    'gitea.secret' => '733tD00d',
    'gitee.password' => 'P455w0rd',

    'tasks' => [
        [
            'when' => [
                'driver' => 'gitea',
                'event' => 'push',
                'target' => 'monyxie/wethook',
            ],
            'where' => ['/outside/code/wethook'],
            'what' => ['git pull', 'npm install'],
        ]
    ]
];
