<?php

$PATH_REPO_BASE = '/home/monyxie/code';
$PATH_WRITABLE  = PATH_WRITABLE;
$CMD_GIT_PULL   = 'git pull';
$CMD_GIT_STATUS = 'git status';

return [
    'listen' => '0.0.0.0:8080', // 绑定地址和端口
    'logfile' => $PATH_WRITABLE . '/puller.log', // 日志文件路径
    'password' => 'pwd', // 请求密码
    'repos' => [ // 仓库列表
        ['fullname' => 'oschina/webhook', 'path' => $PATH_REPO_BASE . "/example-repo", 'cmds' => [$CMD_GIT_PULL]],
        ['fullname' => 'oschina/webhook', 'path' => $PATH_REPO_BASE . "/example-repo1", 'cmds' => [$CMD_GIT_PULL]],
        ['fullname' => 'zxcv/api-user-zmeng', 'path' => $PATH_REPO_BASE . "/api-user-zmeng", 'cmds' => [$CMD_GIT_PULL]],
    ],
];